/build/*
.idea/*
.gradle/*
.externalNativeBuild/cmake/
*.iml
.gradle
/local.properties
/PronovosCM/.gradle
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
gradle/*
.idea/vcs.xml
.idea/assetWizardSettings.xml


*.iml
.gradle
/local.properties
/.idea/workspace.xml
.idea/libraries/*
.DS_Store
/build
/captures
.externalNativeBuild
# Local configuration file (sdk path, etc)
local.properties
